<h1>Home page</h1>
<p>Welcome to cockies demo</p>
<a href="/set">Set Cookie</a>
<a href="/get">Get Cookie</a>

<div>
    <a href="/use-light">Use light theme</a>
    <a href="/use-dark">Use dark theme</a>
</div>

<div>
    <a href="/set-session">Set Session</a>
    <a href="/get-session">Get Session</a>
</div>